In [1]:
!pip install yfinance pandas ta

Requirement already satisfied: yfinance in d:\anaconda\lib\site-packages (0.2.50)
Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.1.4)
Requirement already satisfied: ta in d:\anaconda\lib\site-packages (0.11.0)
Requirement already satisfied: numpy>=1.16.5 in d:\anaconda\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in d:\anaconda\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in d:\anaconda\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in d:\anaconda\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: platformdirs>=2.0.0 in d:\anaconda\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in d:\anaconda\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in d:\anaconda\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in d:\anaconda\lib\site-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in d:\anaconda\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in d:\anaconda\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in d:\anaconda\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in d:\anaconda\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2024.8.30)

In [2]:
import yfinance as yf
import pandas as pd

In [3]:
ticker = "NVDA"
data = yf.download(ticker, period="5y", interval="1d")  # 1 year of daily data

[*********************100%***********************]  1 of 1 completed

In [4]:
data

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,NVDA,NVDA,NVDA,NVDA,NVDA,NVDA
Date,,,,,,
2019-12-18,5.713796,5.737750,5.798500,5.733750,5.742250,343548000
2019-12-19,5.861924,5.886500,5.900000,5.767500,5.772500,445360000
2019-12-20,5.959267,5.984250,6.009750,5.934000,5.953250,603044000
2019-12-23,5.945575,5.970500,6.045250,5.959750,6.013000,355060000
2019-12-24,5.940595,5.965500,5.982750,5.920500,5.955000,138864000
...,...,...,...,...,...,...
2024-12-12,137.339996,137.339996,138.440002,135.800003,137.080002,159211400
2024-12-13,134.250000,134.250000,139.600006,132.539993,138.940002,231514900
2024-12-16,132.000000,132.000000,134.399994,130.419998,134.179993,237951100
2024-12-17,130.389999,130.389999,131.589996,126.860001,129.089996,259410300
2024-12-18,131.488007,131.488007,136.699997,131.350006,133.869995,179740872

In [5]:
# Simple Moving Averages
data['MA10'] = data['Close'].rolling(window=10).mean()  # 10-day MA
data['MA50'] = data['Close'].rolling(window=50).mean()  # 50-day MA

# Exponential Moving Averages
data['EMA10'] = data['Close'].ewm(span=10, adjust=False).mean()  # 10-day EMA
data['EMA50'] = data['Close'].ewm(span=50, adjust=False).mean()  # 50-day EMA

In [6]:
from ta.momentum import RSIIndicator

# Add RSI (default is 14-day period)
data['RSI'] = RSIIndicator(data['Close']['NVDA']).rsi()

In [7]:
from ta.volatility import BollingerBands

# Calculate Bollinger Bands
bb_indicator = BollingerBands(data['Close']['NVDA'])
data['BB_upper'] = bb_indicator.bollinger_hband()
data['BB_lower'] = bb_indicator.bollinger_lband()
data['BB_middle'] = bb_indicator.bollinger_mavg()

In [8]:
from ta.volatility import AverageTrueRange

# Calculate ATR
data['ATR'] = AverageTrueRange(data['High']['NVDA'], data['Low']['NVDA'], data['Close']['NVDA']).average_true_range()

In [9]:
# Flatten MultiIndex columns
data.columns = ['_'.join(col).strip() for col in data.columns.values]

In [10]:
data

,Adj Close_NVDA,Close_NVDA,High_NVDA,Low_NVDA,Open_NVDA,Volume_NVDA,MA10_,MA50_,EMA10_,EMA50_,RSI_,BB_upper_,BB_lower_,BB_middle_,ATR_
Date,,,,,,,,,,,,,,,
2019-12-18,5.713796,5.737750,5.798500,5.733750,5.742250,343548000,NaN,NaN,5.737750,5.737750,NaN,NaN,NaN,NaN,0.000000
2019-12-19,5.861924,5.886500,5.900000,5.767500,5.772500,445360000,NaN,NaN,5.764795,5.743583,NaN,NaN,NaN,NaN,0.000000
2019-12-20,5.959267,5.984250,6.009750,5.934000,5.953250,603044000,NaN,NaN,5.804696,5.753021,NaN,NaN,NaN,NaN,0.000000
2019-12-23,5.945575,5.970500,6.045250,5.959750,6.013000,355060000,NaN,NaN,5.834842,5.761550,NaN,NaN,NaN,NaN,0.000000
2019-12-24,5.940595,5.965500,5.982750,5.920500,5.955000,138864000,NaN,NaN,5.858598,5.769548,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-12,137.339996,137.339996,138.440002,135.800003,137.080002,159211400,140.031000,139.318799,139.497644,137.184651,46.394581,148.785977,133.114020,140.949998,4.889097
2024-12-13,134.250000,134.250000,139.600006,132.539993,138.940002,231514900,139.631000,139.546799,138.543527,137.069567,42.691215,148.202591,132.446406,140.324499,5.044163
2024-12-16,132.000000,132.000000,134.399994,130.419998,134.179993,237951100,138.967999,139.688399,137.353795,136.870761,40.176381,148.449863,131.201135,139.825499,4.968151
2024-12-17,130.389999,130.389999,131.589996,126.860001,129.089996,259410300,137.981000,139.741799,136.087650,136.616613,38.431805,148.887984,129.787015,139.337499,4.980426
2024-12-18,131.488007,131.488007,136.699997,131.350006,133.869995,179740872,136.615800,139.713759,135.251351,136.415491,40.334657,148.014013,129.108786,138.561400,5.075395

In [11]:
tickers = ["NVDA", "AMD", "INTC", "^GSPC", "^IXIC"]

# Fetch data for each ticker
data_dict = {}
for ticker in tickers:
    data_dict[ticker] = yf.download(ticker, period="5y", interval="1d")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [12]:
# Extract relevant columns and rename them
for ticker in tickers:
    data[f"{ticker}_Close"] = data_dict[ticker]['Close']

In [13]:
from dotenv import load_dotenv
import os
import requests

# Load environment variables from .env file
load_dotenv()

# Access the API key
FRED_API_KEY = os.getenv("FRED_API_KEY")

In [14]:
endpoint = f"https://api.stlouisfed.org/fred/series/observations?series_id=FEDFUNDS&api_key={FRED_API_KEY}&file_type=json"
response = requests.get(endpoint)

In [15]:
start_date = data.index.min().strftime('%Y-%m-%d')
end_date = data.index.max().strftime('%Y-%m-%d')

print("Start Date:", start_date)
print("End Date:", end_date)

Start Date: 2019-12-18
End Date: 2024-12-18

In [16]:
gdp_data = response.json()

In [17]:
gdp_df = pd.DataFrame(gdp_data['observations'])
gdp_df['date'] = pd.to_datetime(gdp_df['date'])
gdp_df['value'] = pd.to_numeric(gdp_df['value'], errors='coerce')
gdp_df = gdp_df.rename(columns={'date': 'Date', 'value': 'GDP'}).set_index('Date')

In [18]:
gdp_daily = gdp_df.resample('D').ffill()

In [19]:
gdp_daily = gdp_daily[start_date:end_date]

In [20]:
gdp_daily

           realtime_start realtime_end   GDP
Date
2019-12-18     2024-12-12   2024-12-12  1.55
2019-12-19     2024-12-12   2024-12-12  1.55
2019-12-20     2024-12-12   2024-12-12  1.55
2019-12-21     2024-12-12   2024-12-12  1.55
2019-12-22     2024-12-12   2024-12-12  1.55
...                   ...          ...   ...
2024-10-28     2024-12-12   2024-12-12  4.83
2024-10-29     2024-12-12   2024-12-12  4.83
2024-10-30     2024-12-12   2024-12-12  4.83
2024-10-31     2024-12-12   2024-12-12  4.83
2024-11-01     2024-12-12   2024-12-12  4.64

[1781 rows x 3 columns]

In [21]:
interest_data = response.json()

In [22]:
interest_df = pd.DataFrame(interest_data['observations'])
interest_df['date'] = pd.to_datetime(interest_df['date'])
interest_df['value'] = pd.to_numeric(interest_df['value'], errors='coerce')
interest_df = interest_df.rename(columns={'date': 'Date', 'value': 'Interest_Rate'}).set_index('Date')

In [23]:
interest_daily = interest_df.resample('D').ffill()

In [24]:
interest_daily = interest_daily[start_date:end_date]

In [25]:
interest_daily

           realtime_start realtime_end  Interest_Rate
Date
2019-12-18     2024-12-12   2024-12-12           1.55
2019-12-19     2024-12-12   2024-12-12           1.55
2019-12-20     2024-12-12   2024-12-12           1.55
2019-12-21     2024-12-12   2024-12-12           1.55
2019-12-22     2024-12-12   2024-12-12           1.55
...                   ...          ...            ...
2024-10-28     2024-12-12   2024-12-12           4.83
2024-10-29     2024-12-12   2024-12-12           4.83
2024-10-30     2024-12-12   2024-12-12           4.83
2024-10-31     2024-12-12   2024-12-12           4.83
2024-11-01     2024-12-12   2024-12-12           4.64

[1781 rows x 3 columns]

In [26]:
# Merge GDP and Interest Rate into data
data = data.merge(gdp_daily, how='left', left_index=True, right_index=True)
data = data.merge(interest_daily, how='left', left_index=True, right_index=True)

In [27]:
data

,Adj Close_NVDA,Close_NVDA,High_NVDA,Low_NVDA,Open_NVDA,Volume_NVDA,MA10_,MA50_,EMA10_,EMA50_,...,AMD_Close,INTC_Close,^GSPC_Close,^IXIC_Close,realtime_start_x,realtime_end_x,GDP,realtime_start_y,realtime_end_y,Interest_Rate
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-18,5.713796,5.737750,5.798500,5.733750,5.742250,343548000,NaN,NaN,5.737750,5.737750,...,42.299999,57.169998,3191.139893,8827.740234,2024-12-12,2024-12-12,1.55,2024-12-12,2024-12-12,1.55
2019-12-19,5.861924,5.886500,5.900000,5.767500,5.772500,445360000,NaN,NaN,5.764795,5.743583,...,42.830002,57.959999,3205.370117,8887.219727,2024-12-12,2024-12-12,1.55,2024-12-12,2024-12-12,1.55
2019-12-20,5.959267,5.984250,6.009750,5.934000,5.953250,603044000,NaN,NaN,5.804696,5.753021,...,44.150002,58.950001,3221.219971,8924.959961,2024-12-12,2024-12-12,1.55,2024-12-12,2024-12-12,1.55
2019-12-23,5.945575,5.970500,6.045250,5.959750,6.013000,355060000,NaN,NaN,5.834842,5.761550,...,45.459999,59.230000,3224.010010,8945.650391,2024-12-12,2024-12-12,1.55,2024-12-12,2024-12-12,1.55
2019-12-24,5.940595,5.965500,5.982750,5.920500,5.955000,138864000,NaN,NaN,5.858598,5.769548,...,46.540001,59.410000,3223.379883,8952.879883,2024-12-12,2024-12-12,1.55,2024-12-12,2024-12-12,1.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-12,137.339996,137.339996,138.440002,135.800003,137.080002,159211400,140.031000,139.318799,139.497644,137.184651,...,130.600006,20.780001,6051.250000,19902.839844,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-13,134.250000,134.250000,139.600006,132.539993,138.940002,231514900,139.631000,139.546799,138.543527,137.069567,...,126.910004,20.340000,6051.089844,19926.720703,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-16,132.000000,132.000000,134.399994,130.419998,134.179993,237951100,138.967999,139.688399,137.353795,136.870761,...,126.690002,20.830000,6074.080078,20173.890625,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-17,130.389999,130.389999,131.589996,126.860001,129.089996,259410300,137.981000,139.741799,136.087650,136.616613,...,125.019997,20.440001,6050.609863,20109.060547,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-18,131.488007,131.488007,136.699997,131.350006,133.869995,179740872,136.615800,139.713759,135.251351,136.415491,...,122.959999,19.665001,5947.259766,19665.802734,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
data = data.drop(columns=['realtime_start_x', 'realtime_end_x', 'realtime_start_y', 'realtime_end_y'], errors='ignore')

In [29]:
data

,Adj Close_NVDA,Close_NVDA,High_NVDA,Low_NVDA,Open_NVDA,Volume_NVDA,MA10_,MA50_,EMA10_,EMA50_,...,BB_lower_,BB_middle_,ATR_,NVDA_Close,AMD_Close,INTC_Close,^GSPC_Close,^IXIC_Close,GDP,Interest_Rate
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-18,5.713796,5.737750,5.798500,5.733750,5.742250,343548000,NaN,NaN,5.737750,5.737750,...,NaN,NaN,0.000000,5.737750,42.299999,57.169998,3191.139893,8827.740234,1.55,1.55
2019-12-19,5.861924,5.886500,5.900000,5.767500,5.772500,445360000,NaN,NaN,5.764795,5.743583,...,NaN,NaN,0.000000,5.886500,42.830002,57.959999,3205.370117,8887.219727,1.55,1.55
2019-12-20,5.959267,5.984250,6.009750,5.934000,5.953250,603044000,NaN,NaN,5.804696,5.753021,...,NaN,NaN,0.000000,5.984250,44.150002,58.950001,3221.219971,8924.959961,1.55,1.55
2019-12-23,5.945575,5.970500,6.045250,5.959750,6.013000,355060000,NaN,NaN,5.834842,5.761550,...,NaN,NaN,0.000000,5.970500,45.459999,59.230000,3224.010010,8945.650391,1.55,1.55
2019-12-24,5.940595,5.965500,5.982750,5.920500,5.955000,138864000,NaN,NaN,5.858598,5.769548,...,NaN,NaN,0.000000,5.965500,46.540001,59.410000,3223.379883,8952.879883,1.55,1.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-12,137.339996,137.339996,138.440002,135.800003,137.080002,159211400,140.031000,139.318799,139.497644,137.184651,...,133.114020,140.949998,4.889097,137.339996,130.600006,20.780001,6051.250000,19902.839844,NaN,NaN
2024-12-13,134.250000,134.250000,139.600006,132.539993,138.940002,231514900,139.631000,139.546799,138.543527,137.069567,...,132.446406,140.324499,5.044163,134.250000,126.910004,20.340000,6051.089844,19926.720703,NaN,NaN
2024-12-16,132.000000,132.000000,134.399994,130.419998,134.179993,237951100,138.967999,139.688399,137.353795,136.870761,...,131.201135,139.825499,4.968151,132.000000,126.690002,20.830000,6074.080078,20173.890625,NaN,NaN
2024-12-17,130.389999,130.389999,131.589996,126.860001,129.089996,259410300,137.981000,139.741799,136.087650,136.616613,...,129.787015,139.337499,4.980426,130.389999,125.019997,20.440001,6050.609863,20109.060547,NaN,NaN
2024-12-18,131.488007,131.488007,136.699997,131.350006,133.869995,179740872,136.615800,139.713759,135.251351,136.415491,...,129.108786,138.561400,5.075395,131.488007,122.959999,19.665001,5947.259766,19665.802734,NaN,NaN

In [30]:
# Load environment variables from .env file
load_dotenv()

# Access the API key
BLS_API_KEY = os.getenv("BLS_API_KEY")

In [31]:
endpoint = "https://api.bls.gov/publicAPI/v2/timeseries/data/"

In [32]:
series_ids = ["CUUR0000SA0", "LNS14000000"]

In [33]:
start_year = data.index.min().year
end_year = data.index.max().year

In [34]:
payload = {
    "seriesid": series_ids,
    "startyear": str(start_year),
    "endyear": str(end_year),
    "registrationkey": BLS_API_KEY
}

In [35]:
response = requests.post(endpoint, json=payload)
if response.status_code == 200:
    print("Data fetched successfully!")
else:
    print(f"Error: {response.status_code}, {response.text}")

Data fetched successfully!

In [36]:
bls_data = response.json()

In [45]:
# Inspect the raw JSON data for the 'period' column
for series in bls_data['Results']['series']:
    print(f"Series ID: {series['seriesID']}")
    for entry in series['data'][:5]:
        print(entry)

Series ID: CUUR0000SA0
{'year': '2024', 'period': 'M11', 'periodName': 'November', 'latest': 'true', 'value': '315.493', 'footnotes': [{}]}
{'year': '2024', 'period': 'M10', 'periodName': 'October', 'value': '315.664', 'footnotes': [{}]}
{'year': '2024', 'period': 'M09', 'periodName': 'September', 'value': '315.301', 'footnotes': [{}]}
{'year': '2024', 'period': 'M08', 'periodName': 'August', 'value': '314.796', 'footnotes': [{}]}
{'year': '2024', 'period': 'M07', 'periodName': 'July', 'value': '314.540', 'footnotes': [{}]}
Series ID: LNS14000000
{'year': '2024', 'period': 'M11', 'periodName': 'November', 'latest': 'true', 'value': '4.2', 'footnotes': [{}]}
{'year': '2024', 'period': 'M10', 'periodName': 'October', 'value': '4.1', 'footnotes': [{}]}
{'year': '2024', 'period': 'M09', 'periodName': 'September', 'value': '4.1', 'footnotes': [{}]}
{'year': '2024', 'period': 'M08', 'periodName': 'August', 'value': '4.2', 'footnotes': [{}]}
{'year': '2024', 'period': 'M07', 'periodName': 'July', 'value': '4.3', 'footnotes': [{}]}

In [41]:
def extract_bls_series(series_id, json_data):
    for series in json_data['Results']['series']:
        if series['seriesID'] == series_id:
            series_data = series['data']
            # Convert to DataFrame
            df = pd.DataFrame(series_data)
            df['year'] = df['year'].astype(int)
            df['period'] = df['period'].str.extract(r'M(\d+)').astype(int)  # Extract month correctly
            df['date'] = pd.to_datetime(df[['year', 'period']].assign(day=1))  # Convert to datetime
            df['value'] = pd.to_numeric(df['value'], errors='coerce')  # Convert 'value' to numeric
            return df[['date', 'value']].rename(columns={'value': series_id})

In [43]:
inflation_data = extract_bls_series("CUUR0000SA0", bls_data)
unemployment_data = extract_bls_series("LNS14000000", bls_data)

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [month] is missing