In [1]:
!pip install yfinance pandas ta

Requirement already satisfied: yfinance in d:\anaconda\lib\site-packages (0.2.62)
Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.1.4)
Requirement already satisfied: ta in d:\anaconda\lib\site-packages (0.11.0)
Requirement already satisfied: numpy>=1.16.5 in d:\anaconda\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in d:\anaconda\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in d:\anaconda\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in d:\anaconda\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in d:\anaconda\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in d:\anaconda\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in d:\anaconda\lib\site-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in d:\anaconda\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: curl_cffi>=0.7 in d:\anaconda\lib\site-packages (from yfinance) (0.11.3)
Requirement already satisfied: protobuf>=3.19.0 in d:\anaconda\lib\site-packages (from yfinance) (3.20.3)
Requirement already satisfied: websockets>=13.0 in d:\anaconda\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in d:\anaconda\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.16.0)
Requirement already satisfied: certifi>=2024.2.2 in d:\anaconda\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: pycparser in d:\anaconda\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)

In [2]:
import yfinance as yf
import pandas as pd

In [3]:
ticker = "NVDA"
data = yf.download("NVDA", period="max", interval="1d", threads=False, progress=False)

C:\Users\kmmal\AppData\Local\Temp\ipykernel_41268\2771957530.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("NVDA", period="max", interval="1d", threads=False, progress=False)

In [4]:
data

Price            Close        High         Low        Open      Volume
Ticker            NVDA        NVDA        NVDA        NVDA        NVDA
Date
1999-01-22    0.037612    0.044775    0.035581    0.040119  2714688000
1999-01-25    0.041552    0.042029    0.037612    0.040597   510480000
1999-01-26    0.038328    0.042865    0.037731    0.042029   343200000
1999-01-27    0.038209    0.039403    0.036298    0.038447   244368000
1999-01-28    0.038089    0.038447    0.037850    0.038209   227520000
...                ...         ...         ...         ...         ...
2025-06-04  141.919998  142.389999  139.539993  142.190002   167120800
2025-06-05  139.990005  144.000000  138.830002  142.169998   231397900
2025-06-06  141.720001  143.270004  141.509995  142.509995   153986200
2025-06-09  142.630005  145.000000  141.940002  143.190002   185114500
2025-06-10  143.960007  144.289993  141.529999  142.690002   155372400

[6637 rows x 5 columns]

In [5]:
# Simple Moving Averages
data['MA10'] = data['Close'].rolling(window=10).mean()  # 10-day MA
data['MA50'] = data['Close'].rolling(window=50).mean()  # 50-day MA

# Exponential Moving Averages
data['EMA10'] = data['Close'].ewm(span=10, adjust=False).mean()  # 10-day EMA
data['EMA50'] = data['Close'].ewm(span=50, adjust=False).mean()  # 50-day EMA

In [6]:
from ta.momentum import RSIIndicator

# Add RSI (default is 14-day period)
data['RSI'] = RSIIndicator(data['Close']['NVDA']).rsi()

In [7]:
from ta.volatility import BollingerBands

# Calculate Bollinger Bands
bb_indicator = BollingerBands(data['Close']['NVDA'])
data['BB_upper'] = bb_indicator.bollinger_hband()
data['BB_lower'] = bb_indicator.bollinger_lband()
data['BB_middle'] = bb_indicator.bollinger_mavg()

In [8]:
from ta.volatility import AverageTrueRange

# Calculate ATR
data['ATR'] = AverageTrueRange(data['High']['NVDA'], data['Low']['NVDA'], data['Close']['NVDA']).average_true_range()

In [9]:
# Flatten MultiIndex columns
data.columns = ['_'.join(col).strip() for col in data.columns.values]

In [10]:
data

,Close_NVDA,High_NVDA,Low_NVDA,Open_NVDA,Volume_NVDA,MA10_,MA50_,EMA10_,EMA50_,RSI_,BB_upper_,BB_lower_,BB_middle_,ATR_
Date,,,,,,,,,,,,,,
1999-01-22,0.037612,0.044775,0.035581,0.040119,2714688000,NaN,NaN,0.037612,0.037612,NaN,NaN,NaN,NaN,0.000000
1999-01-25,0.041552,0.042029,0.037612,0.040597,510480000,NaN,NaN,0.038328,0.037766,NaN,NaN,NaN,NaN,0.000000
1999-01-26,0.038328,0.042865,0.037731,0.042029,343200000,NaN,NaN,0.038328,0.037788,NaN,NaN,NaN,NaN,0.000000
1999-01-27,0.038209,0.039403,0.036298,0.038447,244368000,NaN,NaN,0.038306,0.037805,NaN,NaN,NaN,NaN,0.000000
1999-01-28,0.038089,0.038447,0.037850,0.038209,227520000,NaN,NaN,0.038267,0.037816,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-04,141.919998,142.389999,139.539993,142.190002,167120800,136.107001,117.4592,136.662256,124.258830,69.358418,146.879210,117.180791,132.030000,4.736525
2025-06-05,139.990005,144.000000,138.830002,142.169998,231397900,136.926001,117.8452,137.267302,124.875739,65.613869,146.707698,119.645303,133.176501,4.767487
2025-06-06,141.720001,143.270004,141.509995,142.509995,153986200,137.815001,118.4044,138.076883,125.536299,67.317180,146.301699,122.486302,134.394001,4.661238
2025-06-09,142.630005,145.000000,141.940002,143.190002,185114500,138.949002,119.0284,138.904724,126.206640,68.209241,144.947196,126.438805,135.693001,4.562578
2025-06-10,143.960007,144.289993,141.529999,142.690002,155372400,139.795003,119.7142,139.823866,126.902850,69.518729,144.658901,128.823101,136.741001,4.433822

In [11]:
tickers = ["NVDA", "AMD", "INTC", "^GSPC", "^IXIC"]

# Fetch data for each ticker
data_dict = {}
for ticker in tickers:
    data_dict[ticker] = yf.download(ticker, period="max", interval="1d")

C:\Users\kmmal\AppData\Local\Temp\ipykernel_41268\1895131631.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data_dict[ticker] = yf.download(ticker, period="max", interval="1d")
[*********************100%***********************]  1 of 1 completed
C:\Users\kmmal\AppData\Local\Temp\ipykernel_41268\1895131631.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data_dict[ticker] = yf.download(ticker, period="max", interval="1d")
[*********************100%***********************]  1 of 1 completed
C:\Users\kmmal\AppData\Local\Temp\ipykernel_41268\1895131631.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data_dict[ticker] = yf.download(ticker, period="max", interval="1d")
[*********************100%***********************]  1 of 1 completed
C:\Users\kmmal\AppData\Local\Temp\ipykernel_41268\1895131631.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data_dict[ticker] = yf.download(ticker, period="max", interval="1d")
[*********************100%***********************]  1 of 1 completed
C:\Users\kmmal\AppData\Local\Temp\ipykernel_41268\1895131631.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data_dict[ticker] = yf.download(ticker, period="max", interval="1d")
[*********************100%***********************]  1 of 1 completed

In [12]:
# Extract relevant columns and rename them
for ticker in tickers:
    data[f"{ticker}_Close"] = data_dict[ticker]['Close']

In [13]:
from dotenv import load_dotenv
import os
import requests

# Load environment variables from .env file
load_dotenv()

# Access the API key
FRED_API_KEY = os.getenv("FRED_API_KEY")

In [14]:
interest_endpoint = f"https://api.stlouisfed.org/fred/series/observations?series_id=FEDFUNDS&api_key={FRED_API_KEY}&file_type=json"
interest_response = requests.get(interest_endpoint)

In [15]:
gdp_endpoint = f"https://api.stlouisfed.org/fred/series/observations?series_id=GDP&api_key={FRED_API_KEY}&file_type=json"
gdp_response = requests.get(gdp_endpoint)

In [16]:
start_date = data.index.min().strftime('%Y-%m-%d')
end_date = data.index.max().strftime('%Y-%m-%d')

print("Start Date:", start_date)
print("End Date:", end_date)

Start Date: 1999-01-22
End Date: 2025-06-10

In [17]:
gdp_data = gdp_response.json()

In [18]:
gdp_df = pd.DataFrame(gdp_data['observations'])
gdp_df['date'] = pd.to_datetime(gdp_df['date'])
gdp_df['value'] = pd.to_numeric(gdp_df['value'], errors='coerce')
gdp_df = gdp_df.rename(columns={'date': 'Date', 'value': 'GDP'}).set_index('Date')

In [19]:
gdp_daily = gdp_df.resample('D').ffill()

In [20]:
gdp_daily = gdp_daily[start_date:end_date]

In [21]:
gdp_daily

           realtime_start realtime_end        GDP
Date
1999-01-22     2025-05-29   2025-05-29   9411.682
1999-01-23     2025-05-29   2025-05-29   9411.682
1999-01-24     2025-05-29   2025-05-29   9411.682
1999-01-25     2025-05-29   2025-05-29   9411.682
1999-01-26     2025-05-29   2025-05-29   9411.682
...                   ...          ...        ...
2024-12-28     2025-05-29   2025-05-29  29723.864
2024-12-29     2025-05-29   2025-05-29  29723.864
2024-12-30     2025-05-29   2025-05-29  29723.864
2024-12-31     2025-05-29   2025-05-29  29723.864
2025-01-01     2025-05-29   2025-05-29  29976.638

[9477 rows x 3 columns]

In [22]:
interest_data = interest_response.json()

In [23]:
interest_df = pd.DataFrame(interest_data['observations'])
interest_df['date'] = pd.to_datetime(interest_df['date'])
interest_df['value'] = pd.to_numeric(interest_df['value'], errors='coerce')
interest_df = interest_df.rename(columns={'date': 'Date', 'value': 'Interest_Rate'}).set_index('Date')

In [24]:
interest_daily = interest_df.resample('D').ffill()

In [25]:
interest_daily = interest_daily[start_date:end_date]

In [26]:
interest_daily

           realtime_start realtime_end  Interest_Rate
Date
1999-01-22     2025-06-02   2025-06-02           4.63
1999-01-23     2025-06-02   2025-06-02           4.63
1999-01-24     2025-06-02   2025-06-02           4.63
1999-01-25     2025-06-02   2025-06-02           4.63
1999-01-26     2025-06-02   2025-06-02           4.63
...                   ...          ...            ...
2025-04-27     2025-06-02   2025-06-02           4.33
2025-04-28     2025-06-02   2025-06-02           4.33
2025-04-29     2025-06-02   2025-06-02           4.33
2025-04-30     2025-06-02   2025-06-02           4.33
2025-05-01     2025-06-02   2025-06-02           4.33

[9597 rows x 3 columns]

In [27]:
# Merge GDP and Interest Rate into data
data = data.merge(gdp_daily, how='left', left_index=True, right_index=True)
data = data.merge(interest_daily, how='left', left_index=True, right_index=True)

In [28]:
data

,Close_NVDA,High_NVDA,Low_NVDA,Open_NVDA,Volume_NVDA,MA10_,MA50_,EMA10_,EMA50_,RSI_,...,AMD_Close,INTC_Close,^GSPC_Close,^IXIC_Close,realtime_start_x,realtime_end_x,GDP,realtime_start_y,realtime_end_y,Interest_Rate
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-22,0.037612,0.044775,0.035581,0.040119,2714688000,NaN,NaN,0.037612,0.037612,NaN,...,10.781250,18.270565,1225.189941,2338.879883,2025-05-29,2025-05-29,9411.682,2025-06-02,2025-06-02,4.63
1999-01-25,0.041552,0.042029,0.037612,0.040597,510480000,NaN,NaN,0.038328,0.037766,NaN,...,10.718750,18.518669,1233.979980,2369.310059,2025-05-29,2025-05-29,9411.682,2025-06-02,2025-06-02,4.63
1999-01-26,0.038328,0.042865,0.037731,0.042029,343200000,NaN,NaN,0.038328,0.037788,NaN,...,11.000000,19.413584,1252.310059,2433.409912,2025-05-29,2025-05-29,9411.682,2025-06-02,2025-06-02,4.63
1999-01-27,0.038209,0.039403,0.036298,0.038447,244368000,NaN,NaN,0.038306,0.037805,NaN,...,10.625000,18.819918,1243.170044,2407.139893,2025-05-29,2025-05-29,9411.682,2025-06-02,2025-06-02,4.63
1999-01-28,0.038089,0.038447,0.037850,0.038209,227520000,NaN,NaN,0.038267,0.037816,NaN,...,11.437500,19.449022,1265.369995,2477.340088,2025-05-29,2025-05-29,9411.682,2025-06-02,2025-06-02,4.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-04,141.919998,142.389999,139.539993,142.190002,167120800,136.107001,117.4592,136.662256,124.258830,69.358418,...,118.580002,20.250000,5970.810059,19460.490234,NaN,NaN,NaN,NaN,NaN,NaN
2025-06-05,139.990005,144.000000,138.830002,142.169998,231397900,136.926001,117.8452,137.267302,124.875739,65.613869,...,115.690002,19.990000,5939.299805,19298.449219,NaN,NaN,NaN,NaN,NaN,NaN
2025-06-06,141.720001,143.270004,141.509995,142.509995,153986200,137.815001,118.4044,138.076883,125.536299,67.317180,...,116.190002,20.059999,6000.359863,19529.949219,NaN,NaN,NaN,NaN,NaN,NaN
2025-06-09,142.630005,145.000000,141.940002,143.190002,185114500,138.949002,119.0284,138.904724,126.206640,68.209241,...,121.730003,20.480000,6005.879883,19591.240234,NaN,NaN,NaN,NaN,NaN,NaN
2025-06-10,143.960007,144.289993,141.529999,142.690002,155372400,139.795003,119.7142,139.823866,126.902850,69.518729,...,123.239998,22.080000,6038.810059,19714.990234,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
data = data.drop(columns=['realtime_start_x', 'realtime_end_x', 'realtime_start_y', 'realtime_end_y'], errors='ignore')

In [30]:
data.to_csv('uncleaned.csv')

In [31]:
data

,Close_NVDA,High_NVDA,Low_NVDA,Open_NVDA,Volume_NVDA,MA10_,MA50_,EMA10_,EMA50_,RSI_,...,BB_lower_,BB_middle_,ATR_,NVDA_Close,AMD_Close,INTC_Close,^GSPC_Close,^IXIC_Close,GDP,Interest_Rate
Date,,,,,,,,,,,,,,,,,,,,,
1999-01-22,0.037612,0.044775,0.035581,0.040119,2714688000,NaN,NaN,0.037612,0.037612,NaN,...,NaN,NaN,0.000000,0.037612,10.781250,18.270565,1225.189941,2338.879883,9411.682,4.63
1999-01-25,0.041552,0.042029,0.037612,0.040597,510480000,NaN,NaN,0.038328,0.037766,NaN,...,NaN,NaN,0.000000,0.041552,10.718750,18.518669,1233.979980,2369.310059,9411.682,4.63
1999-01-26,0.038328,0.042865,0.037731,0.042029,343200000,NaN,NaN,0.038328,0.037788,NaN,...,NaN,NaN,0.000000,0.038328,11.000000,19.413584,1252.310059,2433.409912,9411.682,4.63
1999-01-27,0.038209,0.039403,0.036298,0.038447,244368000,NaN,NaN,0.038306,0.037805,NaN,...,NaN,NaN,0.000000,0.038209,10.625000,18.819918,1243.170044,2407.139893,9411.682,4.63
1999-01-28,0.038089,0.038447,0.037850,0.038209,227520000,NaN,NaN,0.038267,0.037816,NaN,...,NaN,NaN,0.000000,0.038089,11.437500,19.449022,1265.369995,2477.340088,9411.682,4.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-04,141.919998,142.389999,139.539993,142.190002,167120800,136.107001,117.4592,136.662256,124.258830,69.358418,...,117.180791,132.030000,4.736525,141.919998,118.580002,20.250000,5970.810059,19460.490234,NaN,NaN
2025-06-05,139.990005,144.000000,138.830002,142.169998,231397900,136.926001,117.8452,137.267302,124.875739,65.613869,...,119.645303,133.176501,4.767487,139.990005,115.690002,19.990000,5939.299805,19298.449219,NaN,NaN
2025-06-06,141.720001,143.270004,141.509995,142.509995,153986200,137.815001,118.4044,138.076883,125.536299,67.317180,...,122.486302,134.394001,4.661238,141.720001,116.190002,20.059999,6000.359863,19529.949219,NaN,NaN
2025-06-09,142.630005,145.000000,141.940002,143.190002,185114500,138.949002,119.0284,138.904724,126.206640,68.209241,...,126.438805,135.693001,4.562578,142.630005,121.730003,20.480000,6005.879883,19591.240234,NaN,NaN
2025-06-10,143.960007,144.289993,141.529999,142.690002,155372400,139.795003,119.7142,139.823866,126.902850,69.518729,...,128.823101,136.741001,4.433822,143.960007,123.239998,22.080000,6038.810059,19714.990234,NaN,NaN