In [1]:
!pip install yfinance pandas ta

Requirement already satisfied: yfinance in d:\anaconda\lib\site-packages (0.2.50)
Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.1.4)
Requirement already satisfied: ta in d:\anaconda\lib\site-packages (0.11.0)
Requirement already satisfied: numpy>=1.16.5 in d:\anaconda\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in d:\anaconda\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in d:\anaconda\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in d:\anaconda\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: platformdirs>=2.0.0 in d:\anaconda\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in d:\anaconda\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in d:\anaconda\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in d:\anaconda\lib\site-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in d:\anaconda\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in d:\anaconda\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in d:\anaconda\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in d:\anaconda\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2024.8.30)

In [2]:
import yfinance as yf
import pandas as pd

In [3]:
ticker = "NVDA"
data = yf.download(ticker, period="5y", interval="1d")  # 1 year of daily data

[*********************100%***********************]  1 of 1 completed

In [4]:
data

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,NVDA,NVDA,NVDA,NVDA,NVDA,NVDA
Date,,,,,,
2019-12-11,5.410817,5.433500,5.439000,5.357500,5.360000,233796000
2019-12-12,5.578363,5.601750,5.620000,5.395500,5.404500,404348000
2019-12-13,5.576372,5.599750,5.724500,5.545500,5.604750,454704000
2019-12-16,5.605251,5.628750,5.701500,5.619250,5.647500,320976000
2019-12-17,5.683424,5.707250,5.730000,5.638000,5.647500,321196000
...,...,...,...,...,...,...
2024-12-05,145.059998,145.059998,146.539993,143.949997,145.110001,172621200
2024-12-06,142.440002,142.440002,145.699997,141.309998,144.600006,188505600
2024-12-09,138.809998,138.809998,139.949997,137.130005,138.970001,189308600
2024-12-10,135.070007,135.070007,141.820007,133.789993,139.009995,209389500
2024-12-11,138.981705,138.981705,139.000000,135.210007,137.404999,90137646

In [5]:
# Simple Moving Averages
data['MA10'] = data['Close'].rolling(window=10).mean()  # 10-day MA
data['MA50'] = data['Close'].rolling(window=50).mean()  # 50-day MA

# Exponential Moving Averages
data['EMA10'] = data['Close'].ewm(span=10, adjust=False).mean()  # 10-day EMA
data['EMA50'] = data['Close'].ewm(span=50, adjust=False).mean()  # 50-day EMA

In [6]:
from ta.momentum import RSIIndicator

# Add RSI (default is 14-day period)
data['RSI'] = RSIIndicator(data['Close']['NVDA']).rsi()

In [7]:
from ta.volatility import BollingerBands

# Calculate Bollinger Bands
bb_indicator = BollingerBands(data['Close']['NVDA'])
data['BB_upper'] = bb_indicator.bollinger_hband()
data['BB_lower'] = bb_indicator.bollinger_lband()
data['BB_middle'] = bb_indicator.bollinger_mavg()

In [8]:
from ta.volatility import AverageTrueRange

# Calculate ATR
data['ATR'] = AverageTrueRange(data['High']['NVDA'], data['Low']['NVDA'], data['Close']['NVDA']).average_true_range()

In [9]:
# Flatten MultiIndex columns
data.columns = ['_'.join(col).strip() for col in data.columns.values]

In [10]:
data

,Adj Close_NVDA,Close_NVDA,High_NVDA,Low_NVDA,Open_NVDA,Volume_NVDA,MA10_,MA50_,EMA10_,EMA50_,RSI_,BB_upper_,BB_lower_,BB_middle_,ATR_
Date,,,,,,,,,,,,,,,
2019-12-11,5.410817,5.433500,5.439000,5.357500,5.360000,233796000,NaN,NaN,5.433500,5.433500,NaN,NaN,NaN,NaN,0.000000
2019-12-12,5.578363,5.601750,5.620000,5.395500,5.404500,404348000,NaN,NaN,5.464091,5.440098,NaN,NaN,NaN,NaN,0.000000
2019-12-13,5.576372,5.599750,5.724500,5.545500,5.604750,454704000,NaN,NaN,5.488756,5.446359,NaN,NaN,NaN,NaN,0.000000
2019-12-16,5.605251,5.628750,5.701500,5.619250,5.647500,320976000,NaN,NaN,5.514209,5.453511,NaN,NaN,NaN,NaN,0.000000
2019-12-17,5.683424,5.707250,5.730000,5.638000,5.647500,321196000,NaN,NaN,5.549308,5.463462,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-05,145.059998,145.059998,146.539993,143.949997,145.110001,172621200,140.423999,137.513999,141.646456,136.889349,56.863372,151.652330,134.583667,143.117999,4.734841
2024-12-06,142.440002,142.440002,145.699997,141.309998,144.600006,188505600,140.000999,137.881999,141.790737,137.107022,52.655409,150.912147,134.679849,142.795998,4.710209
2024-12-09,138.809998,138.809998,139.949997,137.130005,138.970001,189308600,139.687000,138.230199,141.248785,137.173805,47.419548,150.329838,134.380158,142.354998,4.753051
2024-12-10,135.070007,135.070007,141.820007,133.789993,139.009995,209389500,139.592000,138.502799,140.125371,137.091303,42.707622,150.300446,133.390552,141.845499,4.987120
2024-12-11,138.981705,138.981705,139.000000,135.210007,137.404999,90137646,139.798170,138.942433,139.917431,137.165437,48.474524,149.377187,133.382982,141.380084,4.911611

In [55]:
tickers = ["NVDA", "AMD", "INTC", "^GSPC", "^IXIC"]

# Fetch data for each ticker
data_dict = {}
for ticker in tickers:
    data_dict[ticker] = yf.download(ticker, period="5y", interval="1d")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [65]:
close.columns = ['_'.join(col).strip() for col in amd_close.columns.values]

                 A_M_D
Date
2019-12-11   39.470001
2019-12-12   42.590000
2019-12-13   41.150002
2019-12-16   42.349998
2019-12-17   42.770000
...                ...
2024-12-05  141.360001
2024-12-06  138.589996
2024-12-09  130.869995
2024-12-10  127.739998
2024-12-11  128.600006

[1259 rows x 1 columns]

In [71]:
# Extract relevant columns and rename them
for ticker in tickers:
    data[f"{ticker}_Close"] = data_dict[ticker]['Close']

In [73]:
data

,Adj Close_NVDA,Close_NVDA,High_NVDA,Low_NVDA,Open_NVDA,Volume_NVDA,MA10_,MA50_,EMA10_,EMA50_,RSI_,BB_upper_,BB_lower_,BB_middle_,ATR_,NVDA_Close,AMD_Close,INTC_Close,^GSPC_Close,^IXIC_Close
Date,,,,,,,,,,,,,,,,,,,,
2019-12-11,5.410817,5.433500,5.439000,5.357500,5.360000,233796000,NaN,NaN,5.433500,5.433500,NaN,NaN,NaN,NaN,0.000000,5.433500,39.470001,57.070000,3141.629883,8654.049805
2019-12-12,5.578363,5.601750,5.620000,5.395500,5.404500,404348000,NaN,NaN,5.464091,5.440098,NaN,NaN,NaN,NaN,0.000000,5.601750,42.590000,57.549999,3168.570068,8717.320312
2019-12-13,5.576372,5.599750,5.724500,5.545500,5.604750,454704000,NaN,NaN,5.488756,5.446359,NaN,NaN,NaN,NaN,0.000000,5.599750,41.150002,57.790001,3168.800049,8734.879883
2019-12-16,5.605251,5.628750,5.701500,5.619250,5.647500,320976000,NaN,NaN,5.514209,5.453511,NaN,NaN,NaN,NaN,0.000000,5.628750,42.349998,57.700001,3191.449951,8814.230469
2019-12-17,5.683424,5.707250,5.730000,5.638000,5.647500,321196000,NaN,NaN,5.549308,5.463462,NaN,NaN,NaN,NaN,0.000000,5.707250,42.770000,57.299999,3192.520020,8823.360352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-05,145.059998,145.059998,146.539993,143.949997,145.110001,172621200,140.423999,137.513999,141.646456,136.889349,56.863372,151.652330,134.583667,143.117999,4.734841,145.059998,141.360001,20.799999,6075.109863,19700.259766
2024-12-06,142.440002,142.440002,145.699997,141.309998,144.600006,188505600,140.000999,137.881999,141.790737,137.107022,52.655409,150.912147,134.679849,142.795998,4.710209,142.440002,138.589996,20.920000,6090.270020,19859.769531
2024-12-09,138.809998,138.809998,139.949997,137.130005,138.970001,189308600,139.687000,138.230199,141.248785,137.173805,47.419548,150.329838,134.380158,142.354998,4.753051,138.809998,130.869995,20.809999,6052.850098,19736.689453
2024-12-10,135.070007,135.070007,141.820007,133.789993,139.009995,209389500,139.592000,138.502799,140.125371,137.091303,42.707622,150.300446,133.390552,141.845499,4.987120,135.070007,127.739998,20.160000,6034.910156,19687.240234
2024-12-11,138.981705,138.981705,139.000000,135.210007,137.404999,90137646,139.798170,138.942433,139.917431,137.165437,48.474524,149.377187,133.382982,141.380084,4.911611,138.440002,128.600006,19.985001,6085.100098,20009.103516